id: {{.ID}}
title: {{.Name}}
version: 1.0.0
icon: i-tabler-puzzle
author: {{.Author}}
description: {{.Description}}
license: MIT
type: js
runtime: interpreted
sdk_version: "1.0.0"
js_entry: plugin.js

settings: []
